body{
    height: 500px;
    width: 90%;
    margin: auto;
    background-color: darkgrey;
    
}
#content{
    background-image: url(../image/Finance.jpg);
    background-color: white;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    background-attachment: fixed;
    border-radius: 10px;
    background-position:20%;
    
}
/*#logo1{
    background-image: url(../image/logo_groupe_castel.gif);
    background-repeat: no-repeat;
    width: 495px;
    height: 89px;
}*/
#logo2{
    background-image: url(../image/ho_slogan.png);
    background-repeat: no-repeat;
    width: 495px;
    height: 89px;
    float: right;
    /*margin-right:50px;*/
    /*padding-top: 100px;*/
}

#connec-part{
    width: 380px;
    height: 160px;  
    padding-top: 190px;
    margin-left: 310px;
/*    opacity: 0.7;*/
    font-size: 15px;
    text-align: center;
    
}
#logo{
    background-image: url(../image/sabc_logo.gif);
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 336px;
    height: 96px;
    float: left;
}

#sabc{
    background-image: url(../image/SABC_truct.PNG);
    background-repeat: no-repeat;
    width: 159px;
    height: 113px;
    padding-bottom: 50px;
    margin-left: 100px;
    
}

#logo,#logo2{
    display: inline-block;
    float: top;
    margin-top: 40px;
    border-radius: 3px;
}